@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  background:url('../images/menu/backMenu.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}

a{
  text-decoration:none;   
}

#allthethings {
  width:0px;
  height:0px;
  
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:200px;
  left:2px;

}

#play {
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#7A0000;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:white;
  font-family:shadows into light;
  
  cursor:pointer;  
}

#play p {
  position:relative;
  top:2px;
  right:4px;
}

.instrucciones {
  height:50px;
  width:600px;
  background:#7A0000;
  position:relative;
  bottom:325px;
  right:300px;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:white;
   -webkit-transition:0.5s;
  transition: 0.5s;
  cursor:pointer;
}

#objective{
  height: 50px;
  width: 600px;
  font-size: 22px;
  visibility: hidden;
}

#arrowUp{
  width: 600px;
  height: 80px;
  visibility: hidden;
}

#arrowUp img{
  float: right;
  margin-top: 30px;
  margin-right: 240px;
  width: 50px;
  height: 50px;
}
#arrowUp p{
  font-size:22px;
  float: left;
  margin-top: 30px;
  margin-left: 220px;  
  width: 50px;
  height: 50px;
}

#arrowRight{
  width: 600px;
  height: 80px;
  visibility: hidden;
}

#arrowRight img{
  float: right;
  margin-top: 30px;
  margin-right: 240px;
  width: 50px;
  height: 50px;
}
#arrowRight p{
  font-size:22px;
  float: left;
  margin-top: 10px;
  margin-left: 220px;  
  width: 50px;
  height: 50px;
}

footer{
  position: fixed;
  top:94%;
}