body{
     background: rgba(0, 0, 0, 0.775);
     overflow-x: hidden;
}

.layers{
  position: fixed;
  width: 1600px;
  height: 600px;
  top:5%;
  left: -1%;

}

#layercielo{
    top:5%;
    background: url('../images/layercielo.png');
    animation: back 150s infinite linear;
     z-index: 1;
}
#layertierra{
  z-index: 2;
  background: url('../images/layertierra.png');
  animation: back 45s infinite linear;
  animation-play-state: paused;
}
#layerpiso{
  z-index: 3;
  height: 50px;
  top:585px;
  background: url('../images/layerpiso2.png') repeat-x;
  animation: back 8s infinite linear;
   animation-play-state: paused; 
}
 
#runner{
  z-index:3;
  position: fixed;
  top:500px;
  left:300px;
}

.jump{
    width: 104px;
    height: 137px;
    background: url('../images/jump/completa2.png') left center;
    animation: jump 0.8s steps(10);
}

.idle{
    width: 82px;
    height: 124px;
    background: url('../images/idle/completo2.png') left center;
    animation: idle 0.8s steps(10) infinite;
}

 .run{
    width: 106px;
    height: 129px;
    background: url('../images/run/completa2.png') left center;
    animation: run 0.8s steps(10) infinite;
}

.dead{
    width: 149px;
    height: 153px;
    background: url('../images/dead/completa2.png') left center;
    animation: dead 0.8s steps(9) forwards;
}

.slider{
    width: 101px;
    height: 100px;
    background: url('../images/slider/completo2.png') left center;
    animation: slider 0.8s steps(10);
}

@keyframes run {
       100% { background-position: -1063px; }
 } 

 @keyframes idle {
    100% { background-position: -823px; }
 }

 @keyframes jump {
        0%{
          transform: translateY(-0px);
        }
        20%{
          transform: translateY(-250px);
        }
        40%{
          transform: translateY(-250px);
        }
        50%{
          transform: translateY(-250px); 
        }
        60%{
          transform: translateY(-250px);
          
        }
        80%{
          transform: translateY(-250px);
        }
        90%{
          transform: translateY(-100px);
        }
        100%{
          transform: translateY(-0px);background-position: -1043px;
        }
 }  

 @keyframes dead {
    100% { background-position: -1345px; }/*/1495px*/
 } 

 @keyframes slider {
    100% { background-position: -1010px; }
 }

 @keyframes back {
    100% { background-position: -1600px; }
 } 

 /*
 Header Reloj Points Audio
 */
 #contenedor{
  top: 0px;
  left: 35%;
  position: fixed;
	width: 600px;
  height: 30px;
  overflow: hidden;
  z-index: 5;
}
.reloj{
	float: left;
	font-size: 30px;
	font-family: Courier,sans-serif;
	color: white;
}

#points{
  margin-left: 50px;
  position: relative;
  width: 70px;
  height: 50px;
}
#points p{
  margin: 0px;
  width: 0px;
  height: 50px;
  top:-30px;
  float: right;
}
#coinAnimPoints{
  top:-35px;
  position: fixed;
  width: 100px;
  height: 100px;
  background: url('../images/coin/coin.png') left ;
  animation: coinanim 1s steps(10) infinite;
  transform: scale(0.3);
}

#audio{
  z-index: 5;
  position: fixed;
  width: 30px;
  height: 30px;
  left: 95%;
}

#audio:hover{
  cursor: pointer;
}

/* 
Enemy
*/

.walkEnemy{
  width: 80px;
  height: 90px;
  background: url('../images/enemy2.png') left center;
  animation: walkEnemy 1s steps(10) infinite;
  transform: scaleX(-1);
}


@keyframes walkEnemy {
  100% { background-position: -800px; }
} 

#enemy{
  top:530px;
  left:1600px;
  z-index: 3;
  position: fixed;
  overflow: hidden;
}

/* 
Coin
*/

.coins{
  z-index: 3;
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('../images/coin/coin.png') left center;
  animation: coinanim 1s steps(10) infinite;
  transform: scale(0.3);
}

@keyframes coinanim {
  100% { background-position: -1000px; }
} 

#coin1{
  top:250px;
  left:1600px;
}

#coin2{
  top:490px;
  left:1900px;
}

#coin3{
  top:490px;
  left:1750px;
}

#coin4{
  top:490px;
  left:1400px;
}
