html {
    height: 100%;
    overflow-y: hidden;
  }

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100%;
}

header{
    opacity: 0.9;
    background-color: #333;
}

#icon{
    position: fixed;
    top: 0%;
    width: 50px;
    height: 50px;
}

.search{
    opacity: 0.9;
    top: 25%;
    position: relative;
}

/* Transicion buscador Up */
.transform{
    transition: all 2s ease;
}

.transform-active{
    opacity: 1;
    top: 0%;
    position: relative;
}
/*  */

#panel-search{ 
    height: 85px;
    transition: all 2s ease;
}

#search:hover{
    opacity: 1;
}

#divSearch{
    border-color: #333;
    background-color: #333;
}

#footer{
    position: absolute;
    opacity: 0.9;
    border-radius: 3px; 
    background: #333;
}

#footer p{
    margin-top: 15px;
   /* border-top: 5px;  */
    color: grey;
}

/* layout */
#layout-grid{
    border-radius: 40px;
    position: absolute;
    top:20%;
    left: 80%;
    border: solid black 1px;
    width: 50px;
    height: 50px;
    transition: all 2s ease;
}

#layout-grid img{
    position: relative;
    top:20%;
    /* border-radius: 40px; */
    width: 30px;
    height: 30px; 
}
#layout-grid:hover{
    opacity: 0.5;
    background-color: white ;
}

#layout-carrousel{
    border-radius: 40px;
    position: absolute;
    top:20%;
    left: 87%;
    border: solid black 1px;
    width: 50px;
    height: 50px;
    transition: all 2s ease;
}

#layout-carrousel img{
    position: relative;
    top:8%;
    left: -4%;
    /* border-radius: 40px; */
    width: 40px;
    height: 40px; 
}
#layout-carrousel:hover{
    opacity: 0.5;
    background-color: white ;
}

#layout-play{
    border-radius: 40px;
    position: absolute;
    top:20%;
    left: 94%;
    border: solid black 1px;
    width: 50px;
    height: 50px;
    transition: all 2s ease;
}

#layout-play img{
    position: relative;
    top:22%;
    left: 6%;
    width: 25px;
    height: 25px; 
}
#layout-play:hover{
    opacity: 0.5;
    background-color: white ;
}

/* end layout */

/*  */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.carousel-inner>.item>{
    width: 200px;
    height: 200px;
}

#carrousel{
    width: 100%;
    margin-top: 20px;
}

#carrousel img{
    width: 100%;
    height: 470px;
}

#grilla img{
    width: 230px;
    height: 135px;
}

/*
new fullscreen
*/

.fullscreen {
    visibility: hidden;
    top: -100%; 
}

.fullscreenShow {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    transition: all 2s; 
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}